.header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 20px;
}

.header_container_links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.header_container_links a {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.07px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #2A1F20;
}

.header_container_addres {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.header_container_addres a span {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 17.07px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #2A1F20;
}

/* 
//////////// Media Responsive... ////////
*/